*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#d9d3cb;
}

/* SECTION */

.contact-section{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

/* CONTAINER */

.contact-container{
display:flex;
width:80%;
background:#d9d3cb;
}

/* IMAGE */

.contact-image img{
width:350px;
height:420px;
object-fit:cover;
}

/* RIGHT SIDE */

.contact-content{
margin-left:60px;
flex:1;
}

.contact-content h1{
font-size:48px;
margin-bottom:30px;
}

/* BOX */

.contact-box{
display:flex;
border:1px solid black;
padding:30px;
gap:50px;
}

/* FORM */

.form{
display:flex;
flex-direction:column;
gap:25px;
flex:1;
}

.form input,
.form textarea{

border:none;
border-bottom:2px solid black;
background:transparent;
padding:8px;
font-size:14px;

}

.form textarea{
height:60px;
resize:none;
}

/* BUTTON */

.form button{

margin-top:20px;
background:black;
color:white;
border:none;
padding:12px;
border-radius:25px;
cursor:pointer;
width:180px;

}

/* INFO */

.info{
width:200px;
}

.info h3{
margin-top:10px;
font-size:16px;
}

.info p{
margin-bottom:20px;
color:#333;
}

/* SOCIAL */

.social{
display:flex;
gap:15px;
margin-top:20px;
}

.social span{
font-size:18px;
cursor:pointer;
}


